body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.mainRoot {
  display: flex;
  justify-content: center;
  min-width: 760px;
}

.mainContainer {
  width: 750px !important;
  margin: 20px;
}

.MuiOutlinedInput-input {
  overflow-y: auto !important;
}

@media (max-width: 1024px) {
  #App {
    padding: 0 15px;
  }
}

