body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#App {
  overflow-x: hidden;
}

.mainRoot {
  display: flex;
  justify-content: center;
}

.mainContainer {
  max-width: 750px;
  width: 100%;
  margin: 20px;
}

.MuiOutlinedInput-input {
  overflow-y: auto !important;
}

@media (max-width: 1024px) {
  #App {
    padding: 0 15px;
  }
}

